.headerPoke{
    background-color: #49b8e7   ;
}

.footerPoke{
    background-color:#49b8e7  ;  
}

.name{
    color: #f8f435  ;
}

.ancla:hover {
	color: #f8f435  ; 

}

.ancla:visited {
	color: #f8f435  ;
}

.anclaSocial{
    color: #f8f435  ;
}

.anclaSocial:hover {
	color: #f8f435  ;  
}

.anclaSocial:visited {
	color: #f8f435  ;
}

.anclaNext{
    color: #f8f435  ;
}

.anclaNext:hover {
	color: #f8f435  ; 
}

.anclaNext:visited {
	color: #f8f435  ;
}

.tituloMain{
    color: #e5efe4 ;
}

.nameDivType{
    color: #fbd100 ;
}

.nameDiv{
    background-color: #49b8e7  ;
    border: 3px solid #fbd100 ;
}