.headerPoke{
    background-color: #49b8e7   ;
}

.footer{
    background-color:#49b8e7  ;  
}

.name{
    color: #f8f435  ;
}

.ancla:hover {
	color: #f8f435  ; 

}

.ancla:visited {
	color: #f8f435  ;
}

.anclaSocial{
    color: #f8f435  ;
}

.anclaSocial:hover {
	color: #f8f435  ;  
}

.anclaSocial:visited {
	color: #f8f435  ;
}

.footer-anchor{
    color: #f8f435  ;
}

.footer-anchor:hover {
	color: #f8f435  ; 
}

.footer-anchor:visited {
	color: #f8f435  ;
}

.tituloMain{
    color: #e5efe4 ;
}

.nameDivType{
    color: #fbd100 ;
}

.nameDiv{
    background-color: #49b8e7  ;
    border: 3px solid #fbd100 ;
}

.footer-nt{
    border-right: 3px solid #f8f435 ;
}

.footer-pv{
    border-left: 3px solid #f8f435 ;
}