.headerPoke{
    background-color: #280c32    ;
}

.footer{
    background-color:#280c32  
}

.nameDivType{
    color: #280c32;
}

.nameDiv{
    background-color: #f5ecf3;
    border: 3px solid #280c32;
}

.name{
    color: #f5ecf3    ;
}


.ancla:hover {
	color: #f5ecf3 ; 

}

.ancla:visited {
	color: #f5ecf3 ;
}

.anclaSocial{
    color: #f5ecf3 ;
}

.anclaSocial:hover {
	color: #f5ecf3 ;  
}

.anclaSocial:visited {
	color: #f5ecf3 ;
}

.footer-anchor{
    color: #f5ecf3 ;
}

.footer-anchor:hover {
	color: #f5ecf3; 
}

.footer-anchor:visited {
	color: #f5ecf3;
}

.tituloMain{
    color: #f5ecf3     ;
}

.footer-nt{
    border-right: 3px solid #f5ecf3  ;
}

.footer-pv{
    border-left: 3px solid #f5ecf3  ;
}