.headerPoke{
    background-color: #27c6f4     ;
}

.footer{
    background-color:#27c6f4   
}

.nameDivType{
    color: #e0306a ;
}

.nameDiv{
    background-color: #27c6f4 ;
    border: 3px solid #e0306a;
}

.name{
    color: #162555      ;
}


.ancla:hover {
	color: #162555   ; 

}

.ancla:visited {
	color: #162555   ;
}

.anclaSocial{
    color: #162555   ;
}

.anclaSocial:hover {
	color: #162555   ;  
}

.anclaSocial:visited {
	color: #162555   ;
}

.footer-anchor{
    color: #162555   ;
}

.footer-anchor:hover {
	color: #162555  ; 
}

.footer-anchor:visited {
	color: #162555  ;
}

.tituloMain{
    color: #27c6f4      ;
}

.footer-nt{
    border-right: 3px solid  #162555;
}

.footer-pv{
    border-left: 3px solid  #162555;
}