.headerPoke{
    background-color: #eee6c2  ;
}

.footer{
    background-color:#eee6c2 ;  
}

.name{
    color: #8a2712  ;
}

.ancla:hover {
	color: #8a2712  ; 

}

.ancla:visited {
	color: #8a2712  ;
}

.anclaSocial{
    color: #8a2712  ;
}

.anclaSocial:hover {
	color: #8a2712  ;  
}

.anclaSocial:visited {
	color: #8a2712  ;
}

.footer-anchor{
    color: #8a2712  ;
}

.footer-anchor:hover {
	color: #8a2712  ; 
}

.footer-anchor:visited {
	color: #8a2712  ;
}

.tituloMain{
    color: #eee6c2 ;
}

.nameDivType{
    color: #ff9843 ;
}

.nameDiv{
    background-color: #eee6c2  ;
    border: 3px solid #ff9843 ;
}

.footer-nt{
    border-right: 3px solid #8a2712 ;
}

.footer-pv{
    border-left: 3px solid #8a2712 ;
}