.headerPoke{
    background-color: #c7bb96  ;
}

.footer{
    background-color:#c7bb96 ;  
}

.name{
    color: #8d7252  ;
}

.ancla:hover {
	color: #8d7252  ; 

}

.ancla:visited {
	color: #8d7252  ;
}

.anclaSocial{
    color: #8d7252  ;
}

.anclaSocial:hover {
	color: #8d7252  ;  
}

.anclaSocial:visited {
	color: #8d7252  ;
}

.footer-anchor{
    color: #8d7252  ;
}

.footer-anchor:hover {
	color: #8d7252  ; 
}

.footer-anchor:visited {
	color: #8d7252  ;
}

.tituloMain{
    color: #d9c4d0 ;
}

.nameDivType{
    color: #e87236 ;
}

.nameDiv{
    background-color: #c7bb96   ;
    border: 3px solid #e87236 ;
}

.footer-nt{
    border-right: 4px solid #8d7252 ;
}

.footer-pv{
    border-left: 4px solid #8d7252 ;
}