.headerPoke{
    background-color: #d1e2f3   ;
}

.footerPoke{
    background-color:#d1e2f3  ;  
}

.name{
    color: #0d3f44  ;
}

.ancla:hover {
	color: #0d3f44  ; 

}

.ancla:visited {
	color: #0d3f44  ;
}

.anclaSocial{
    color: #0d3f44  ;
}

.anclaSocial:hover {
	color: #0d3f44  ;  
}

.anclaSocial:visited {
	color: #0d3f44  ;
}

.anclaNext{
    color: #0d3f44  ;
}

.anclaNext:hover {
	color: #0d3f44  ; 
}

.anclaNext:visited {
	color: #0d3f44  ;
}

.tituloMain{
    color: #6d9b94  ;
}

.nameDivType{
    color: #49d0bf ;
}

.nameDiv{
    background-color: #d1e2f3    ;
    border: 3px solid #49d0bf ;
}