.headerPoke{
    background-color: #608788   ;
}

.footer{
    background-color:#608788  ;  
}

.name{
    color: #dcded4  ;
}

.ancla:hover {
	color: #dcded4  ; 

}

.ancla:visited {
	color: #dcded4 ;
}

.anclaSocial{
    color: #dcded4  ;
}

.anclaSocial:hover {
	color: #dcded4  ;  
}

.anclaSocial:visited {
	color: #dcded4  ;
}

.footer-anchor{
    color: #dcded4  ;
}

.footer-anchor:hover {
	color: #dcded4  ; 
}

.footer-anchor:visited {
	color: #dcded4  ;
}

.tituloMain{
    color: #dcded4   ;
}

.nameDivType{
    color: #636466 ;
}

.nameDiv{
    background-color: #608788    ;
    border: 3px solid #636466 ;
}

.footer-nt{
    border-right: 3px solid #dcded4 ;
}

.footer-pv{
    border-left: 3px solid  #dcded4;
}