.headerPoke{
    background-color: #b7bab7 ;
}

.name{
    color: #e43509;
}

.tituloMain{
    color: #edd46c  ;
}

.ancla:hover {
	color: #e43509; 

}

.ancla:visited {
	color: #e43509;
}

.anclaSocial{
    color: #e43509;
}

.anclaSocial:hover {
	color: #e43509;  
}

.anclaSocial:visited {
	color: #e43509;
}

.footer{
    background-color:#b7bab7 
}

.footer-anchor{
    color: #e43509;
}

.footer-anchor:hover {
	color: #e43509; 
}

.footer-anchor:visited {
	color: #e43509;
}

.nameDivType{
    color: #5a8ea2 ;
}

.nameDiv{
    background-color: #b7bab7   ;
    border: 3px solid #5a8ea2 ;
}

.footer-nt{
    border-right: 3px solid #e43509 ;
}

.footer-pv{
    border-left: 3px solid #e43509 ;
}