footer-anchor.headerPoke{
    background-color: #e1e6e1 ;
}

.headerPoke{
    background-color: #e1e6e1 ;
}

.name{
    color: #73b6d3 ;
}

.tituloMain{
    color: #e1e6e1 ;
}

.ancla:hover {
	color: #73b6d3; 

}

.ancla:visited {
	color: #73b6d3;
}

.anclaSocial{
    color: #73b6d3;
}

.anclaSocial:hover {
	color: #73b6d3;  
}

.anclaSocial:visited {
	color: #73b6d3;
}

.footer{
    background-color:#e1e6e1
}

.footer-anchor{
    color: #73b6d3;
}

.footer-anchor:hover {
	color: #73b6d3; 
}

.footer-anchor:visited {
	color: #73b6d3;
}

.nameDivType{
    color: #3692dc ;
}

.nameDiv{
    background-color: #e1e6e1 ;
    border: 3px solid #3692dc ;
}

.footer-nt{
    border-right: 3px solid #73b6d3 ;
}

.footer-pv{
    border-left: 3px solid  #73b6d3;
}