body{
    background-image: url(../../img/pokedex/wallp7.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 0.1px;
}


:root{
    
    --main-color: #5D3389;
    --main-color2: #000000;
    --main-color3: #ffffff;
}

.pokedex-container{
    grid-template-rows: repeat(22, 1fr);
}

.fix{
    width: 215px;
    height: 215px;
}