body{
    background-image: url(../../img/pokedex/wallp3.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

:root{
    
    --main-color: #2b8767;
    --main-color2: #000000;
    --main-color3: #ffffff;
}

.pokedex-container{
    grid-template-rows: repeat(34, 1fr);
}