body{
    background-image: url(../../img/pokedex/wallp4.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 0.1px;
}


:root{
    
    --main-color: #AF75AB;
    --main-color2: #000000;
    --main-color3: #ffffff;
}

.pokedex-container{
    grid-template-rows: repeat(27, 1fr);
}