.acero-bgd {
        background-image: url(../img/wllp/acero.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.agua-bgd{
        background-image: url(../img/wllp/agua.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.bicho-bgd{
        background-image: url(../img/wllp/bicho.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.dragon-bgd{
        background-image: url(../img/wllp/dragon.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.electrico-bgd{
        background-image: url(../img/wllp/electrico.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.fantasma-bgd{
        background-image: url(../img/wllp/fantasma.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.fuego-bgd{
        background-image: url(../img/wllp/fuego.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.hada-bgd{
        background-image: url(../img/wllp/hada.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.hielo-bgd{
        background-image: url(../img/wllp/hielo.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.lucha-bgd{
        background-image: url(../img/wllp/lucha.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.normal-bgd{
        background-image: url(../img/wllp/normal.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.planta-bgd{
        background-image: url(../img/wllp/planta.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.psiquico-bgd{
        background-image: url(../img/wllp/psiquico.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.roca-bgd{
        background-image: url(../img/wllp/roca.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.siniestro-bgd{
        background-image: url(../img/wllp/siniestro.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.tierra-bgd{
        background-image: url(../img/wllp/tierra.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.veneno-bgd{
        background-image: url(../img/wllp/veneno.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.volador-bgd{
        background-image: url(../img/wllp/volador.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}
