.acero {
        background-image: url(../img/wllp/acero.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.agua{
        background-image: url(../img/wllp/agua.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.bicho{
        background-image: url(../img/wllp/bicho.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.dragonB{
        background-image: url(../img/wllp/dragon.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.electrico{
        background-image: url(../img/wllp/electrico.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.fantasma{
        background-image: url(../img/wllp/fantasma.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.fuego{
        background-image: url(../img/wllp/fuego.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.hada{
        background-image: url(../img/wllp/hada.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.hielo{
        background-image: url(../img/wllp/hielo.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.lucha{
        background-image: url(../img/wllp/lucha.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.normalB{
        background-image: url(../img/wllp/normal.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.planta{
        background-image: url(../img/wllp/planta.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.psiquico{
        background-image: url(../img/wllp/psiquico.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.roca{
        background-image: url(../img/wllp/roca.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.siniestro{
        background-image: url(../img/wllp/siniestro.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.tierra{
        background-image: url(../img/wllp/tierra.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.veneno{
        background-image: url(../img/wllp/veneno.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}

.volador{
        background-image: url(../img/wllp/volador.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 0.1px;
}
