:root{
    
    --main-color: #c01e2e;
    --main-color2: #000000;
    --main-color3: #ffffff;
}


.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name{
    padding-left: 15px;
	text-decoration: none;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 55px;
    color: var(--main-color3);
}

.imgHeader{
    width: 80px;
    height: 85px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.header-pokedex{
    background-color: var(--main-color2);
}

.menu-options{
    text-decoration: none;
    list-style: none;
    color: var(--main-color); 
    cursor: pointer;
    padding: 10px -20px;
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    font-family: 'Staatliches', cursive;
    transition: all .2s ease ;
}


.menu-bgd{
    background-color: var(--main-color2);
    padding: 6px 30px 6px 30px;
    margin-right: 10px;
    
}

.menu-items{
    text-decoration: none;
    list-style: none;
    color: var(--main-color3); 
    background-color: var(--main-color2);
    cursor: pointer;
    padding: 10px 15px;
    
}

.menu-items:hover{
    background-color: var(--main-color);
}

.contmenu{
    display:none;
    position: absolute;
    min-width: 100px;
    z-index: 300;
}

.cm-pokedex{
    margin-left: 18px;
}


.header-div li:hover > ul{
    display: block;
}

.header-menu{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.menu-anchor{
    color: currentColor;
    text-decoration: none;
}

.menu-anchor:hover{
    color: currentColor;
    text-decoration: none;
}

.menu-anchor:visited{
    color: currentColor;
    text-decoration: none;
}

.menu-bgd:hover{
    background-color: var(--main-color2);
}

/* Estilo Pagina */

.pokedex-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 140px;
    margin-top: 20px;
}

/*Estilos de las Pokedex-Box*/

main div div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: 'Staatliches', cursive;
    border-radius: 10%;
    position: relative;
    width: 500px;
    height: 400px;
    padding: 3rem;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 200;
    margin-top: 18px;
    margin-bottom: 20px;
}

.pokemon-data{
    padding-top: 80px;
    margin-bottom: -70px;
}

/* Imagenes */

.pImg{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    display: flex;
}

/* Nombres Pokemon */

.pname{
    color: #0c0c0c;
    font-size: 30px;
}

.pname:hover{
    color: #181717;
    text-decoration: none;
}

.pname:visited{
    color: #0c0c0c;
    text-decoration: none;
}

/*Numeros Pokedex*/

.pnumber{
    color: #cecccc;
    filter: opacity(.5);
    font-size: 150px;
    padding-right: 300px;
    padding-bottom: 30px;
    position: absolute;
    z-index: 100;
}

/* Animaciones */

.pokedex-box:hover{
    border: #ffffff 4px solid;
}

.pImg:hover{
    margin-bottom: 40px;
    transition: 0.4s;
}

/*Arreglos de Imagenes*/

.fix{ width: 270px; height: 270px;}

.fix2{ height: 240px; width: 240px; padding-bottom: 30px;}


