.ice{
    color: #49d0bf;
    font-size: 30px;
}

.fight{
    color: #e0306a;
    font-size: 30px;
}

.fairy{
    color: #fb89eb;
    font-size: 30px;
}

.iconType{
    padding-top: 25px;
}

.bug{
    color: #83c300;
    font-size: 30px;
}

.dragon{
    color: #006fc9;
    font-size: 30px;
}

.dark{
    color: #534c5e;
    font-size: 30px;
}

.steel{
    color: #5a8ea2;
    font-size: 30px;
}

.water{
    color: #3692dc;
    font-size: 30px;
}

.rock{
    color: #c8b686;
    font-size: 30px;
}

.psychic{
    color: #ff6675;
    font-size: 30px;
}

.poison{
    color: #b362cc;
    font-size: 30px;
}

.normal{
    color: #636466;
    font-size: 30px;
}

.ground{
    color: #e87236;
    font-size: 30px;
}

.grass{
    color: #38bf4b;
    font-size: 30px;
}

.ghost{
    color: #4d6ab2;
    font-size: 30px;
}

.fly{
    color: #89aae3;
    font-size: 30px;
}

.fire{
    color: #ff9843;
    font-size: 30px;
}

.electric{
    color: #fbd100;
    font-size: 30px;
}