*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
	display: none;
}

body{
    background-image: url(../img/pokedex/wallp.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

:root{
    
    --main-color: #c01e2e;
    --main-color2: #000000;
    --main-color3: #ffffff;
}

/* --- MAIN POKEMON CONTAINERS --- */

.pokedex-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(38, 1fr);
    margin-right:10px;
    margin-left: 3px;
}

.main-pokedex{
    list-style: none;
}

.pokedex-box{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid rgb(0, 0, 0, 0.5);
    margin: 20px 14px 20px 12px;
    font-family: 'Staatliches', cursive;
    background-color: rgb(255, 255, 255,0.9);
    border-radius: 10%;
}

.pokedex-box:hover{
    margin-bottom: 10px;
    transition: 0.3s;
}

main div a{
    text-decoration: none;
    color: var(--main-color2);
    font-size: 20px;

}
main div a:hover {
	color: var(--main-color2); 
	text-decoration: none 
}

main div a:visited {
	color: var(--main-color2);
	text-decoration: none 
}

