body{
    background-image: url(../img/pokedex/wallpr.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.pokedex-box{
    display: none;
}

.pokedex-view{
    display: flex;
    }

.pokedex-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 140px;
    margin-top: 50px;
}

    main div div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px 20px 20px 12px;
    font-family: 'Staatliches', cursive;
    background-color: #2d4269;
    border-radius: 10%;
    position: relative;
    width: 500px;
    height: 400px;
    overflow: hidden;
    padding: 3rem;
    box-sizing: border-box;
    z-index: 10;
}

div a img{
    width: 250px;
    height: 250px;
}


main div div:hover{
    border: 4px solid rgb(214, 207, 207);
    transition: 0.3s;
}

main div div :hover{
    margin-bottom: 10px;
    transition: 0.3s;
}

main div div li a{
    color: #c1d4f8;
    font-size: 25px;
}

.fix{
    width: 215px;
    height: 215px;
}

.rdm-foot{
    background-color: #000;
    width: 100%;
    height: 80px;
    margin-top: 50px;
}

.reload{
    width: 110px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        background-color: #fff;
        font-size: 20px;
        font-family: 'Staatliches', cursive;
        cursor: pointer;
}


.fire{
        background-image: url(../img/pokedex/pokeTypeWllp-fire.jpg);
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
            padding: 0.1px;
}

.water{
    background-image: url(../img/pokedex/pokeTypeWllp-water.jpg);
        background-repeat: no-repeat;
        padding: 0.1px;
}

.steel{
    background-image: url(../img/pokedex/pokeTypeWllp-steel.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.rock{
    background-image: url(../img/pokedex/pokeTypeWllp-rock.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.psychic{
    background-image: url(../img/pokedex/pokeTypeWllp-psychic.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.poison{
    background-image: url(../img/pokedex/pokeTypeWllp-poison.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.normal{
    background-image: url(../img/pokedex/pokeTypeWllp-normal.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.ice{
    background-image: url(../img/pokedex/pokeTypeWllp-ice.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.ghost{
    background-image: url(../img/pokedex/pokeTypeWllp-ghost.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.ground{
    background-image: url(../img/pokedex/pokeTypeWllp-ground.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.grass{
    background-image: url(../img/pokedex/pokeTypeWllp-grass.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.fly{
    background-image: url(../img/pokedex/pokeTypeWllp-fly.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.fight{
    background-image: url(../img/pokedex/pokeTypeWllp-fight.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.fairy{
    background-image: url(../img/pokedex/pokeTypeWllp-fairy.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.electric{
    background-image: url(../img/pokedex/pokeTypeWllp-electric.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.dragon{
    background-image: url(../img/pokedex/pokeTypeWllp-dragon.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.dark{
    background-image: url(../img/pokedex/pokeTypeWllp-dark.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}

.bug{
    background-image: url(../img/pokedex/pokeTypeWllp-bug.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 0.1px;
}